
<mat-dialog-content style="text-align:center; padding: 15px 0;">Are you sure?</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <!-- Can optionally provide a result for the closing dialog. -->
  <button mat-button [mat-dialog-close]="true" (click)="carService.removeLocalStorageCar(data.selectedCarId)" *ngIf="data.rel === 'remove-this-car'">Yes</button>
  <button mat-button [mat-dialog-close]="true" (click)="carService.clearLocalStorageCars()" *ngIf="data.rel === 'remove-all-cars'">Yes</button>
</mat-dialog-actions>